<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Booking Suite">
    
  <test  name="Create Booking Test - Apply Discount - pay@hotel">
  <parameter name="action" value="pay@hotel"></parameter>
    <classes>
      <class name="testcases.BookingSearch">
      	<methods>
      		<include name="searchHotel"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInfo"></include>
      	</methods>
      </class>
      
      <class name="testcases.PaymentManager">
      	<methods>
      		<include name="applyDiscount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      
      <class name="testcases.CustomerCommunications">
      	<methods>
      		<include name="checkEmail"></include>
      	</methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
  
  
  
  <test  name="Create Booking Test - Apply Discount - Instant Payment">
  <parameter name="action" value="instantpay"></parameter>
    <classes>
      <class name="testcases.BookingSearch">
      	<methods>
      		<include name="searchHotel"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInfo"></include>
      	</methods>
      </class>
      
      <class name="testcases.PaymentManager">
      	<methods>
      		<include name="applyDiscount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      
      <class name="testcases.CustomerCommunications">
      	<methods>
      		<include name="checkEmail"></include>
      	</methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
  
  
  <test  name="Modify Booking Test - Apply Discount - pay@hotel">
  <parameter name="action" value="pay@hotel"></parameter>
    <classes>
      <class name="testcases.BookingSearch">
      	<methods>
      		<include name="loadBooking"></include>
      		<include name="selectHotel"></include>
      		<include name="enterGuestInfo"></include>
      	</methods>
      </class>
      
      <class name="testcases.PaymentManager">
      	<methods>
      		<include name="applyDiscount"></include>
      		<include name="makePayment"></include>
      	</methods>
      </class>
      
      <class name="testcases.CustomerCommunications">
      	<methods>
      		<include name="checkEmail"></include>
      	</methods>
      </class>
      
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
